node_modules

.vagrant

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.htaccess

#specific theme stuff
.sass-cache
.sass-cache/*

# wordpress specific
public/wp-config.php
public/wp-content/uploads/
public/wp-content/blogs.dir/
public/wp-content/upgrade/*
public/wp-content/backup-db/*
public/wp-content/advanced-cache.php
public/wp-contentpublic/wp-cache-config.php
public/wp-content/cache/*
public/wp-content/cache/supercache/*

# really just care about the theme
public/wp-content/plugins/*
public/wp-content/themes/twentysixteen/*
public/wp-content/debug.log

# wp core (as of 3.4.1)
public/db-config.php
public/index.php
public/license.txt
public/readme.html
public/wp-activate.php
public/wp-app.php
public/wp-atom.php
public/wp-blog-header.php
public/wp-comments-post.php
public/wp-commentsrss2.php
public/wp-config-sample.php
public/wp-cron.php
public/wp-feed.php
public/wp-links-opml.php
public/wp-load.php
public/wp-login.php
public/wp-mail.php
public/wp-rdf.php
public/wp-rss.php
public/wp-rss2.php
public/wp-pass.php
public/wp-register.php
public/wp-settings.php
public/wp-signup.php
public/wp-trackback.php
public/xmlrpc.php
public/wp-admin
public/wp-includes
public/wp-content/index.php
public/wp-content/themes/twentyten
public/wp-content/themes/index.php
public/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
